@model TransactionPlatform.WebApp.Models.DashBoardDto;
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <div class="row">
            <table class="table bg-success text-white">
                <tbody>
                    <tr>
                        <td>Avalible Cash:</td>
                        <td>$ @Model.UserWallet.CirculatingMedium.AvailableAmount </td>
                        <td>Blocked cash: </td>
                        <td>$ @Model.UserWallet.CirculatingMedium.BlockedAmount</td>
                        
                    </tr>
                </tbody>
            </table>
            <div class="popup-box"></div>
            <div class="col-sm">
                <partial name="_simpleInstrumentsList" />
            </div>
            <div class="col-sm">
                <partial name="_simpleWallet" />
                <div class="row">
                    <div class="col-sm">
                        <partial name="_smallPriceDiagram" />
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm">

            <partial name="_smallNewsBox" />

        </div>
        <partial name="_buyInstrumentForm" />


    </div>
<script src="~/js/Dashboard.js"></script>
