@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="popup-box">
        <h5 class="text-center"> Buy instrument: </h5>

        <div class="form-group">
            <label>Ticker</label>
            <input type="text" class="form-control" id="buyTicker" />
            
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" step="0.1" class="form-control" id="buyPrice"/>
        </div>

        <div class="form-group">
            <label>Voumen</label>
            <input type="number" class="form-control" id="buyVolumen"/>
        </div>
        
        <div class="form-group">
            <button class="btn btn-success" onclick=SentTransactionRequest()>Buy</button>
            <button class="btn btn-warning"onclick=CancelBuyInstrumentForm()>Cancel</button>
        </div>        
    </div>
