<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Transaction Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/popups.css" />
</head>
<body>
    <header>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/logov2small.jpg" alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" navbar navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item ml-auto p-2">
                            <div class="form-row">
                                <!-- Grid column -->
                                <div>
                                    <a class="btn  btn-primary text-light ml-3 " onclick="showLogin()">Log in</a>
                                    <a class="btn  btn-primary text-light ml-1" onclick="showSignUp()">Sign up</a>

                                </div>
                            </div>
                            <div class="form-row form">
                                <form>
                                    <div id="login-nav-form" class="form-group access-form">
                                        <input class="form-control" type="text" placeholder="password" />
                                        <input class="form-control" type="text" placeholder="email" />
                                        <button class="btn btn-sm btn-primary">LogIn</button>
                                    </div>
                                </form>
                                <form>
                                    <div class="form-group access-form" id="singup-nav-form">
                                        <input class="form-control" type="text" placeholder="First name" />
                                        <input class="form-control" type="text" placeholder="Last name" />
                                        <input class="form-control" type="text" placeholder="Company" />
                                        <input class="form-control" type="text" placeholder="email" />
                                        <input class="form-control" type="text" placeholder="password" />

                                        <button class="btn btn-sm btn-primary">SignUp</button>
                                    </div>
                                </form>
                            </div>
                        
                        </li>
                       </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TransactionPlatform.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
