
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>News</h3>
<div class="list-group">
    <a href="https://www.bloomberg.com/news/articles/2020-06-07/brent-oil-climbs-toward-43-after-opec-extends-production-cuts"
       class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Oil Extends Rally After OPEC+ Prolongs Record Production Cuts</h5>
            <small>2h ago</small>
        </div>
        <p class="mb-1">Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.</p>
    </a>

    <a href="https://www.bloomberg.com/news/articles/2020-06-07/the-great-diamond-glut-miners-stuck-with-gems-worth-billions"
       class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Oil Extends Rally After OPEC+ Prolongs Record Production Cuts</h5>
            <small>2h ago</small>
        </div>
        <p class="mb-1">Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.</p>
    </a>

    <a href="https://www.bloomberg.com/news/articles/2020-06-07/brent-oil-climbs-toward-43-after-opec-extends-production-cuts"
       class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Oil Extends Rally After OPEC+ Prolongs Record Production Cuts</h5>
            <small>2h ago</small>
        </div>
        <p class="mb-1">Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.</p>

    </a>
    <a href="https://www.bloomberg.com/news/articles/2020-06-07/brent-oil-climbs-toward-43-after-opec-extends-production-cuts"
       class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Oil Extends Rally After OPEC+ Prolongs Record Production Cuts</h5>
            <small>2h ago</small>
        </div>
        <p class="mb-1">Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.Oil rose toward $43 a barrel in London after OPEC and its allies agreed to extend historic output curbs by an extra month.</p>

    </a>
</div>