@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome at Transaction Platform</h1>
    <h3 class="m-3">Your bussines can trade based on big data sugestions and price trends approach</h3>
    
    <div class="row">
        <div class="col-sm">
            <img class="mt-5" style="border: 7px solid #6495ED" src="~/Images/dashboardScreenMd.png" alt="dashboard screen example" />
        </div>
        
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
